[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=GigaMesh
Comment=Processing and editing large meshes
Exec=/usr/bin/gigamesh %F
Comment=GigaMesh
Icon=/usr/share/pixmaps/gigamesh_logo.svg
StartupNotify=false
Encoding=UTF-8
Categories=Qt;Graphics;Viewer;
