[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Name=GigaMesh (Terminal)
Comment=Processing and editing large meshes
Exec=/usr/bin/gigamesh
Comment=GigaMesh (Terminal)
Icon=/usr/share/pixmaps/gigamesh_logo_terminal.svg
StartupNotify=false
Encoding=UTF-8
Categories=Qt;Graphics;Viewer;
