*.swp
# Strange nfs files
.nfs

# Packaging related files and folders
src
arch/src
*_New_Version_*_Now_Available.md
arch/gigamesh.changelog
arch/gigamesh-*.pkg.tar.xz
gigamesh-*.tar.bz2
gigamesh-*/*
gigamesh-*.pkg.tar.xz
gigamesh_*.deb
.tar.bz2


# Files and folders created by the scripts
src/
*.tar.gz



### Mac Related ignores
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
